:root {
  --N: 12;
}

.container {
  display: flex;
  justify-content: center;
}
.content {
  margin: auto;
}

body {
  margin: 0;
  height: 100vh;
}
canvas {
  height: calc(var(--unit-grid) * var(--N));
  border: calc(var(--unit-grid) * 3 / 40) solid;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

button,
#display {
  display: flex;
  height: calc(var(--unit-grid) * 1.5);
  width: calc(var(--unit-grid) * 1.5);
  padding: 0;

  font-size: calc(var(--unit-grid) * 1.5 / 1.2);
  align-items: center;
  justify-content: center;
}

/* @media (orientation: portrait) { */
:root {
  --unit-grid: min(calc(100vh / (var(--N) + 5)), calc(98vw / var(--N)));
}
.parallel {
  flex-direction: column;
}
.perpendicular {
  flex-direction: row;
}
#board {
  height: calc(var(--unit-grid) * (var(--N) + 5));
  width: auto;
}
#controller {
  height: auto;
  width: calc(var(--unit-grid) * 10.5);
}
/* } */
@media (orientation: landscape) {
  :root {
    --unit-grid: min(calc(100vw / (var(--N) + 6.5)), calc(98vh / var(--N)));
  }
  .parallel {
    flex-direction: row;
  }
  .perpendicular {
    flex-direction: column;
  }
  #board {
    height: auto;
    width: calc(var(--unit-grid) * (var(--N) + 6.5));
  }
  #controller {
    height: calc(var(--unit-grid) * 9);
    width: auto;
  }
}

html {
  touch-action: manipulation;
}

/* animation */
.correct {
  animation-name: correct;
  animation-duration: 1s;
}
.incorrect {
  animation-name: incorrect;
  animation-duration: 1s;
}
@keyframes correct {
  0% {
    background-color: green;
  }
}
@keyframes incorrect {
  0% {
    background-color: maroon;
  }
}
